<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Lets create a contact app</h1>
    <div id="main">
        <ul>
            <% for(let i in contacts){ %>
                <li>Contact <%= i %>:
                <%= contacts[i].Name %> <br>
                <%= contacts[i].Roll_No %> <br>
                <%= contacts[i].Branch %> <br>
                </li>
            <% } %>
        </ul>
    </div>
    <form id="forms" action='/post/contact' method="post">
        <input type="text" placeholder="Name" required name="Name">
        <input type="number" placeholder="Roll_No" required name="Roll_No">
        <input type="text" placeholder="Branch" required name="Branch">
        <button type="submit">enter</button>
    </form>
</body>
</html>