<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Lets create a contact app</h1>
    <div id="main">
        <ul>
        <% for(let i=0;i<5;i++){ %>
        <li>Contact <%= i %> </li>
        <% }; %>
        </ul>
    </div>
</body>
</html>