.user-message{
    position: absolute;
    top: 20px;
    padding: 15px 20px 15px 20px;
    left:50vw;
    transform: translateX(-50%);
    z-index: 100;
    animation: showerror 3s ease-in;
    /* display: none; */
}
.user-message--error{background-color: rgb(206, 80, 80);color: white;}
.user-message--success{background-color:rgb(79, 224, 76);}

@keyframes showerror{
    0%{
        display: inline-block;
    }
    99%{
        display: inline-block;
    }
    100%{
        display: none;
    }
}
.row.g-0{
    justify-content: center;
}